services:
  - type: web
    name: ecommerce-gorazer-backend
    runtime: java
    region: oregon
    plan: free
    rootDir: ecommerceGorazer
    buildCommand: ./mvnw clean install -DskipTests
    startCommand: java -jar target/ecommerceGorazer-0.0.1-SNAPSHOT.jar
    envVars:
      - key: JAVA_VERSION
        value: 17
      - key: SPRING_PROFILES_ACTIVE
        value: production
      - key: SERVER_PORT
        value: 10000
      - key: SPRING_DATASOURCE_URL
        sync: false
      - key: SPRING_DATASOURCE_USERNAME
        sync: false
      - key: SPRING_DATASOURCE_PASSWORD
        sync: false
      - key: APP_JWT_SECRET
        generateValue: true
      - key: STRIPE_API_KEY
        sync: false
      - key: NEWSAPI_KEY
        sync: false
      - key: SPRING_MAIL_HOST
        value: smtp.gmail.com
      - key: SPRING_MAIL_PORT
        value: 587
      - key: SPRING_MAIL_USERNAME
        sync: false
      - key: SPRING_MAIL_PASSWORD
        sync: false
