.mainLogin{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-color: #f5f5f5;
}

.mainLogin .card .front .formLogin h2{
    width: 80%;
    font-size: 30px;
    text-align: center;
}

/* Effect Card */
.card {
    perspective: 1000px;
    width: 40%;
    height: 70%;
    position: relative;
  }
  
  .front, .back {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    backface-visibility: hidden;
    transition: transform 0.6s;
  }
  
 .front {
    transform: rotateY(0deg);
}
  
 .back {
    transform: rotateY(180deg);
}
  
 .card.login .front {
    transform: rotateY(0deg);
}
  
 .card.login .back {
    transform: rotateY(180deg);
}
  
 .card.register .front {
    transform: rotateY(-180deg);
}
  
 .card.register .back {
    transform: rotateY(0deg);
}

/* Form Login */
.formLogin{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    width: 100%;
    height: 100%;

    border: 1px solid rgb(0, 0, 0);
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
}

.formLogin .formGroup{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    width: 80%;
    height: 10%;
}

.formLogin .formGroup label{
  margin: 0;
  padding: 0;
}

.formLogin .formGroup label svg{
    width: 40px;
    height: auto;
    text-align: center;
}

.formLogin .formGroup input{
    width: 50%;
    height: 80%;
    border: none;
    border-bottom: 1px solid black;
    padding: 5px;
}

.formLogin .formGroup input:focus{
    outline: none;
}

.formLogin button{
    width: 30%;
    height: 10%;

    border-radius: 5px;
    padding: 5px;

    font-size: 20px;

    border: 1px solid rgb(0, 0, 0);
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);

    transition: all 1s ease;
}

.formLogin button:hover{
  cursor: pointer;
  background-color: #f5f5f5;
  color: black;
}

.formLogin .buttonChangeCard{
    width: 100%;
    height: 10%;

    text-align: center;

    border-radius: 5px;
    padding: 5px;

    text-decoration: underline;

    font-size: 16px;
    font-weight: 600;

    transition: all 1s ease;
}

.formLogin .buttonChangeCard:hover{
  cursor: pointer;
  color: saddlebrown;
}

/* See Password Effect */

.activeSee{
  display: block;
  transition: all 0.7s ease-in-out;
  cursor: pointer;
}

.desactiveSee{
  display: none;
  transition: all 0.7s ease-in-out;
  cursor: pointer;
}


/* Form Register */
.formRegister{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    width: 100%;
    height: 100%;

    border: 1px solid rgb(0, 0, 0);
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
}

.formRegister .groupRegister{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;

  width: 100%;
  height: 50%;
}

.formRegister .groupRegister .formGroup{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  width: 50%;
  height: 10%;
}

.formRegister .groupRegister .formGroup label{
  margin: 0;
  padding: 0;

  width: 30%;
}

/* #form-register #group-register label svg{
    width: 40px;
    height: auto;
    text-align: center;
} */

.formRegister .groupRegister .formGroup .password{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  margin: 0;
  padding: 0;

  width: 70%;
  height: 100%;
}

.formRegister .groupRegister .formGroup .password input{
  width: 90%;
}

.formRegister .groupRegister .formGroup .password progress{
  width: 90%;
  height: 50%;
}

.formRegister .groupRegister .formGroup input[type="text"],
.formRegister .groupRegister .formGroup input[type="password"]{
    width: 60%;
    height: 80%;
    border: none;
    border-bottom: 1px solid black;
    padding: 5px;
}

.formRegister .groupRegister .formGroup select{
  text-align: center;
    width: 60%;
    height: 100%;
    border: none;
    border-bottom: 1px solid black;
    padding: 5px;
}

.formRegister .groupRegister .formGroup input[type="date"]{
  text-align: center;
    width: 60%;
    height: 100%;
    border: none;
    border-bottom: 1px solid black;
    padding: 5px;
}

.formRegister .groupRegister .formGroup input:focus{
    outline: none;
}


.formRegister button{
  width: 30%;
  height: 10%;

  border-radius: 5px;
  padding: 5px;

  font-size: 20px;

  border: 1px solid rgb(0, 0, 0);
  background-color: rgb(0, 0, 0);
  color: rgb(255, 255, 255);

  transition: all 1s ease;
}

.formRegister button:hover{
  cursor: pointer;
  background-color: #f5f5f5;
  color: black;
}

.formRegister .buttonChangeCard{
  width: 100%;
  height: 10%;

  text-align: center;

  border-radius: 5px;
  padding: 5px;

  text-decoration: underline;

  font-size: 16px;
  font-weight: 600;

  transition: all 1s ease;
}

.formRegister .buttonChangeCard:hover{
  cursor: pointer;
  color: saddlebrown;
}

.formMessage {
  margin: 10px 0 0 0;
  font-size: 14px;
  text-align: center;
  font-weight: 600;
}

.formMessageError {
  color: #b00020;
}

.formMessageSuccess {
  color: #0a7a2f;
}